div.tab 
{
    overflow: hidden;
}
.tablink    /*styling tab buttons*/
{
    background-color: inherit;
    float: left;
    border:none; 
    outline: none;
    cursor: pointer;
}
.tab button:hover  /*buttons on hover*/
{
    border-bottom: 2px solid #E77600 !important;
}
button.tablink.active
{
    border-bottom: 2px solid #E77600 !important;
    color: red;
    font-weight: bold;
}
.tabcontent         
{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.pager .previous > a, .pager .next > a   /*placing left and right arrow icons*/
{
    margin-top:-20%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    font-size: 20px;
    padding:40px 10px 40px 10px;
    border-radius: 5px;
}
.pager .previous a:hover , .pager .next a:hover
{
    cursor: pointer;
    background-color: hotpink;
}
#right a     /*right arrow icon placing*/
{
    margin-left: 610px!important;
}
#left a        /*left arrow icon placing*/
{
    margin-left: -670px!important;
}
hr 
{
    margin-top:5px!important;
    margin-bottom:5px!important;
}
.btn-md
{
    width: 100%;
}
.col-lg-3
{
    padding-left: 57px!important;
    width: 24%!important;
}
.numbertext
{
    float: right;
    font-weight: bold;
}
.badge
{
    background-color: #f14307!important;
}